/*@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');*/
/*@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');*/
/*@import './avenir/stylesheet.css';*/
@import "backgrounds.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
a{
  text-decoration: none !important;
  color: currentColor;
}
body{
  margin: 0;
}


.bg-upcoming-gradient {
  background-image: conic-gradient(from 51deg at 55% 95%, #080714 0% 5%, #584cf4 25% 30%, transparent 30% 50%);
}



/* ListTicketComponent.module.css */
.ticket-container {
    position: relative;
    overflow: hidden;
}

.ticket-container::before, .ticket-container::after {
    content: '';
    position: absolute;
    width: 50px; /* Size of the cut-out */
    height: 50px; /* Size of the cut-out */
    background-color: white;
}

.ticket-container::before {
    top: -25px; /* Move pseudo-element up */
    right: -25px; /* Move pseudo-element to the right */
    border-radius: 0 50px 0 0; /* Top-right cut-out */
}

.ticket-container::after {
    bottom: -25px; /* Move pseudo-element down */
    right: -25px; /* Move pseudo-element to the right */
    border-radius: 0 0 0 50px; /* Bottom-right cut-out */
}

.transparent-select .ant-select-selector {
    background-color: transparent !important;
    color: currentColor !important;
    border: inherit !important;
}


.loader-circle {
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.loader-circle::before,
.loader-circle::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader-circle::before {
  border-color: #584cf4 #0000;
  animation: inherit;
  animation-duration: .5s;
  animation-direction: reverse;
}
.loader-circle::after {
  margin: 8px;
}
@keyframes l16 {
  100%{transform: rotate(1turn)}
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
